* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Questrial', sans-serif;
  background: url("../images/fondo2.jpg"); }

/*Bloques*/
.cabecera {
  width: 100%;
  height: 600px;
  background-image: url("../images/travel1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .cabecera__titulo {
    color: white;
    padding: 10px;
    background: #0786A0;
    line-height: 2px;
    text-align: center;
    font-size: 2em;
    border-radius: 8px;
    padding: 26px; }
    .cabecera__titulo span {
      padding-top: 10px;
      font-size: 1.2em; }
  .cabecera__mensaje {
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
    text-shadow: 2px 2px 4px #000000; }
  .cabecera__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none; }
    .cabecera__menu__item {
      height: 1.5em;
      margin-bottom: 5px;
      background: #0786A0;
      text-align: center;
      border-radius: 5px;
      padding: 5px;
      margin-right: 10px;
      font-size: 1.5em; }
      .cabecera__menu__item a {
        text-decoration: none;
        color: white; }
      .cabecera__menu__item:hover {
        background: white;
        cursor: pointer;
        -webkit-transition: 0.7s;
        transition: 0.7s;
        -webkit-transform: scale(1.3);
                transform: scale(1.3); }
        .cabecera__menu__item:hover a {
          color: #0786A0; }
  @media (max-width: 768px) {
    .cabecera__menu {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .cabecera__menu__item {
        margin-right: 0px; } }
  @media (max-width: 768px) {
    .cabecera {
      height: 650px;
      background-size: 100% 650px; }
      .cabecera__titulo {
        margin-top: 20px; }
      .cabecera__titulo {
        -ms-flex-item-align: center;
            align-self: center; } }
  @media (max-width: 480px) {
    .cabecera__titulo {
      font-size: 1.2em; }
    .cabecera__mensaje {
      text-align: center; } }
  @media (max-width: 520px) {
    .cabecera__titulo {
      font-size: 1.2em; } }
  @media (max-width: 520px) {
    .cabecera__titulo {
      font-size: 0.9em; } }
  @media (max-width: 370px) {
    .cabecera__menu {
      margin-right: 40px; } }

.informacion {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.6); }
  .informacion__titulo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
    text-align: center;
    width: 70%;
    opacity: 1;
    z-index: 1; }
    .informacion__titulo h2 a {
      text-decoration: none;
      color: #0786A0;
      font-size: 2em; }
    .informacion__titulo p {
      color: white;
      font-size: 1.5em; }
  .informacion__us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px; }
    .informacion__us__travel1 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: 15px;
      margin-right: 15px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .informacion__us__travel1 img {
        width: 40%;
        height: 300px;
        margin-right: 40px;
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-transition: 0.6s;
        transition: 0.6s;
        /*&:hover{
                    width: 60%;
                    height: 400px;
                    transition: 0.7s;
                    z-index: 4;
                }*/ }
        @media (max-width: 768px) {
          .informacion__us__travel1 img {
            width: 75%;
            left: 50%;
            margin-right: 0px; }
            .informacion__us__travel1 img:hover {
              width: 85%;
              height: 400px;
              -webkit-transition: 0.7s;
              transition: 0.7s;
              z-index: 4; } }
        @media (max-width: 445px) {
          .informacion__us__travel1 img {
            width: 100%; } }
      .informacion__us__travel1__info {
        width: 45%;
        padding: 20px; }
        .informacion__us__travel1__info h2 {
          color: #0786A0;
          font-size: 2em; }
        .informacion__us__travel1__info p {
          font-size: 1.5em;
          color: white; }
      .informacion__us__travel1:last-child {
        margin-top: 30px; }
      .informacion__us__travel1 #img2 {
        margin-left: 30px; }
      @media (max-width: 768px) {
        .informacion__us__travel1 {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
          .informacion__us__travel1 .informacion__us__travel1 #img1 {
            width: 75%; }
          .informacion__us__travel1 .informacion__us__travel1__info {
            width: 70%;
            text-align: center;
            margin-right: 0px;
            left: 50%; }
          .informacion__us__travel1 #img2 {
            display: none; } }
      @media (max-width: 568px) {
        .informacion__us__travel1 .informacion__us__travel1__info {
          width: 85%; } }
      @media (max-width: 400px) {
        .informacion__us__travel1 .informacion__us__travel1__info {
          width: 95%; } }

.servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.6); }
  .servicios__ourServices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .servicios__ourServices h1 {
      text-align: center;
      margin-bottom: 40px; }
      .servicios__ourServices h1 a {
        color: #0786A0;
        text-decoration: none;
        font-size: 2em; }
    .servicios__ourServices__tipos {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-line-pack: distribute;
          align-content: space-around; }
      .servicios__ourServices__tipos .planes {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-right: 50px;
        margin-left: 50px; }
        .servicios__ourServices__tipos .planes .simbolo {
          -ms-flex-item-align: center;
              align-self: center;
          margin-bottom: 20px;
          -webkit-transition: 2.5s ease;
          transition: 2.5s ease; }
          .servicios__ourServices__tipos .planes .simbolo:hover {
            -webkit-transform: rotate(360deg);
                    transform: rotate(360deg); }
        .servicios__ourServices__tipos .planes span {
          -ms-flex-item-align: center;
              align-self: center;
          color: white;
          -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          font-size: 3em;
          background: #0786A0;
          padding: 20px;
          border-radius: 40%;
          text-shadow: 2px 2px 4px #000000; }
          .servicios__ourServices__tipos .planes span:hover {
            background: white;
            color: #0786A0; }
        .servicios__ourServices__tipos .planes h2 {
          text-align: center;
          color: white; }
        .servicios__ourServices__tipos .planes p {
          font-size: 1.4em;
          text-align: center;
          color: white; }
      @media (max-width: 950px) {
        .servicios__ourServices__tipos {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          .servicios__ourServices__tipos .planes {
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin-bottom: 30px; }
            .servicios__ourServices__tipos .planes p {
              text-align: center; } }

.slider {
  margin-top: 30px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0px; }
  .slider h2 a {
    text-decoration: none;
    color: #0786A0;
    font-size: 2em; }
  .slider section#slider figure {
    margin-top: 30px; }
    .slider section#slider figure img {
      display: none;
      margin: 0px auto; }
    .slider section#slider figure.visible > img {
      display: block;
      position: relative;
      overflow: hidden;
      width: 1200px;
      max-width: 100%;
      height: 500px;
      margin-bottom: 30px;
      /*border: 2px solid #555;
		outline: 3px solid #fff;*/
      -webkit-box-shadow: 0 0 0 10px #cccccc, 0 0 0 15px #e6e6e6;
              box-shadow: 0 0 0 10px #cccccc, 0 0 0 15px #e6e6e6; }
      @media (max-width: 600px) {
        .slider section#slider figure.visible > img {
          height: 300px; } }
    .slider section#slider figure figcaption {
      display: none; }
    .slider section#slider figure.visible > figcaption {
      display: block;
      text-align: center;
      font-weight: bold;
      font-size: 1.8em;
      color: #fff; }

.promos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
  width: 100%;
  height: 600px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.6); }
  .promos h2 a {
    text-decoration: none;
    color: #0786A0;
    font-size: 2em; }
  .promos__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none; }
    .promos__menu__item {
      height: 1.5em;
      margin-bottom: 5px;
      background: #0786A0;
      text-align: center;
      border-radius: 5px;
      padding: 5px;
      margin-right: 10px;
      font-size: 1.5em; }
      .promos__menu__item a {
        text-decoration: none;
        color: white; }
      .promos__menu__item:hover {
        background: white;
        cursor: pointer;
        -webkit-transition: 0.7s;
        transition: 0.7s;
        -webkit-transform: scale(1.3);
                transform: scale(1.3); }
        .promos__menu__item:hover a {
          color: #0786A0; }
  @media (max-width: 768px) {
    .promos__menu {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .promos__menu__item {
        margin-right: 0px; } }
  .promos__muestra {
    width: 100%;
    margin-top: 40px; }
    .promos__muestra__promos {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
      .promos__muestra__promos img {
        width: 30%;
        height: 200px;
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
      @media (max-width: 768px) {
        .promos__muestra__promos {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          .promos__muestra__promos img {
            width: 75%;
            height: 250px;
            margin-bottom: 20px;
            margin-left: 5%; } }
  @media (max-width: 768px) {
    .promos {
      height: 1050px;
      /* &__muestra__promos{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }*/ }
      .promos h2 {
        margin-left: 5%; } }
  @media (max-width: 370px) {
    .promos h2 {
      margin-right: 35px; }
    .promos__menu {
      margin-right: 40px; } }

.no-mostrar {
  display: none; }

.mostrar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /*@media (max-width: 768px){
        img{
            flex-wrap: wrap;
        }
    }*/ }
  .mostrar img {
    width: 30%;
    height: 200px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  @media (max-width: 768px) {
    .mostrar {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .mostrar img {
        width: 75%;
        height: 220px;
        margin-bottom: 15px;
        margin-left: 5%; } }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.6); }
  .contact h2 a {
    text-decoration: none;
    color: #0786A0;
    font-size: 2em; }
  .contact__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    height: 400px;
    margin-bottom: 20px; }
    .contact__form__mapa {
      width: 40%;
      height: 400px;
      background: gold; }
      .contact__form__mapa iframe {
        width: 100%;
        height: 400px; }
    .contact__form .formulario {
      height: 400px;
      width: 50%;
      background: #0786A0; }
      .contact__form .formulario input {
        margin-top: 30px;
        margin-left: 40px;
        margin-right: 40px;
        font-family: 'Questrial', sans-serif;
        width: 80%;
        height: 50px; }
        .contact__form .formulario input:nth-child(3) {
          height: 100px; }
        .contact__form .formulario input:focus {
          border: 2px solid gold; }
      .contact__form .formulario input[type="submit"] {
        -ms-flex-item-align: center;
            align-self: center;
        width: 40%;
        border-radius: 20px;
        border: none;
        background: white;
        color: #0786A0; }
        .contact__form .formulario input[type="submit"]:hover {
          border: 1px solid white;
          background: #0786A0;
          color: white;
          text-shadow: 2px 2px 4px #000000;
          -webkit-box-shadow: 1px 1px 2px #000000;
                  box-shadow: 1px 1px 2px #000000; }
    @media (max-width: 800px) {
      .contact__form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 800px; }
        .contact__form__mapa {
          width: 70%; }
        .contact__form .formulario {
          width: 70%; } }
    @media (max-width: 600px) {
      .contact__form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 800px; }
        .contact__form__mapa {
          width: 90%; }
        .contact__form .formulario {
          width: 90%; } }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  height: 250px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .footer__contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 30px; }
    .footer__contacto span {
      font-size: 1.5em;
      color: white;
      margin-bottom: 20px; }
      .footer__contacto span:last-child {
        margin-top: 30px;
        font-weight: bold; }
  .footer__redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 30px; }
    .footer__redes span {
      color: white;
      font-size: 1.5em;
      margin-bottom: 15px; }
      .footer__redes span:nth-child(1):hover {
        color: blue;
        cursor: pointer;
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
        text-shadow: 2px 2px 4px #000000; }
      .footer__redes span:nth-child(2):hover {
        color: dodgerblue;
        cursor: pointer;
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
        text-shadow: 2px 2px 4px #000000; }
      .footer__redes span:nth-child(3):hover {
        color: red;
        cursor: pointer;
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
        text-shadow: 2px 2px 4px #000000; }
      .footer__redes span:nth-child(4):hover {
        color: slategrey;
        cursor: pointer;
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
        text-shadow: 2px 2px 4px #000000; }
      .footer__redes span:nth-child(5):hover {
        color: darkred;
        cursor: pointer;
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
        text-shadow: 2px 2px 4px #000000; }
  @media (max-width: 600px) {
    .footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      height: 350px; }
      .footer__redes {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around; } }
